.App {
  text-align: baseline;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.m-4{
  margin: 1rem;
}
.m-8{
  margin: 2rem;
}
.m-12{
  margin: 3rem;
}
.pb-16{
  padding-bottom: 4rem;
}
.flex-wrap{
  flex-wrap: wrap;
}
.font-weight-500{
  font-weight: 500;
}
.pr-12{
  padding-right: 3rem;
}
.py-4{
  padding: 1rem 0rem;
}
.bg-white{
  background-color: #fff;
}
.py-8{
  padding: 2rem 0rem;
}
.justify-between{
  justify-content: space-between;
}
.text-white{
  color: #fff;
}
.border-box{
  border: 2px solid #fff;
  border-radius: 50% 50%;
  padding: 10px;
}
.rounded-full{
  border-radius: 50%;
}
.text-center{
  text-align: center;
}
.w-max{
  width: max-content;
}
.m-0{
  margin: 0px;
}
.p-0{
  padding: 0px;
}
.rounded-lg{
  border-radius: 6px;
}
.py-12{
  padding: 3rem 0rem;
}
.p-4{
  padding: 1rem;
}
.px-4{
  padding: 0 1rem;
}
.px-8{
  padding: 0 2rem;
}
.flex-wrap-reverse{
  flex-wrap: wrap-reverse;
}

.reg-input{
  background-color: #ffffff;
  color: slategray;
  border: none;
  font-size: large;
}

.border{
  border: 2px solid black;
}

.h-screen{
  height: 100vh;
}
.flex-col {
  flex-direction: column;
}
.w-full {
  width: 100%;
}
.flex{
  display: flex;
}
.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.gap-1 {
  gap: 14px;
}
.hero-section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-img{
  width: 48%
}

.register-section {
  width: 48%;
  background-color: beige;
  padding: 1rem;
}


.hero-heading{
  font-size: 3.6rem;
  width: max-content;
  text-align: justify;
  color: darkslategray;
  margin : 0
}

.text-regsiter{
  border-top: 2px solid slategray;
  border-bottom: 2px solid slategray;
  width: max-content;
  padding: 1rem 0;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

.text-subtitle{
  font-weight: 300;
  text-align: justify;
}

.register-btn{
  width: 100%;
  background-color: rgb(65, 65, 189);
  color: white;
  text-align: center;
  border-radius: 6px;
  font-size: large;
  padding: 1rem;
}

.form-text-helper{
  text-align: justify;
}
.p-8{
  padding: 2em;
}
/* second section */
.count-down{
  background-color: beige;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between
}


.timing-div{
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 1.8rem;
  font-weight: 500;
  gap: 14px;
}

.hero-img-heading{
  font-size: 4rem;
  color: #fff;
  text-align: justify;
  margin: 0;
  padding: 0 1rem 0 0;
}

.hero-img-title{
  font-size: 23px;
  color: #fff;
  padding: 0 6rem 0px 0px;
  margin: 5px;
}



.timing-div .sm-text{
  font-size: large;
}

@media(max-width: 610px){
  .count-down{
    justify-content: center
  }
  .hero-img-heading{
    font-size: 3rem;
  }
  .hero-img-title{
    font-size: 18px;
    padding: 0 2rem 0 0;
  }
  .hero-heading{
    font-size: 2rem;
  }
  .text-regsiter{
    font-size: 14px;
  }
}




/* second section ends */

/* third one agenda starts*/

.section-title{
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}
.hosts .section-title{
  background-color: beige;
}
.agenda{
  font-size: 18px;
  font-weight: 500;
}
.agenda-lists{
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin: 1rem 0rem;
}
.agenda-lists .left-list{
  border-right: 1px dashed slategray
}
/* third one agenda ends*/

/* fourth section overview */
.overview{
  font-size: 18px;
  font-weight: 500;
  background-color: beige;
}
.overview-list{
  padding: 0 0 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/* fourth section overview */

/* fifth section */
.benifits{
  flex-wrap: wrap;
}

.benifits-div{
  padding: 1rem 1.5rem;
  border-radius: 50px;
  border: 1px solid rgb(29, 29, 29);
}

.benifits-div:hover{
  background-color: #282c34;
  color: #ffffff;
}
/* fifth section */

/* six section expectations */
.expectations{
  background-color: #282c34;
  color: #ffffff;
}
.expectations-text{
  padding: 2rem;
  line-height: 28px;
}
/* six section expectations */
/* who section  */
.who-list{
  display: flex;
  font-size: 19px;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 500;
  padding: 3rem 0;
  color: #282c34;
  border-bottom: 1px dashed #282c34;
}
@media(max-width: 708px){
  .who-list{
    flex-direction: column;
  }
}
/* who section  */
/* features section */
.features-item{
  background-color: #282c34;
  color: #ffffff;
  max-width: 20rem;
}
.features-item:hover{
  background-color: #ffffff;
  color: #282c34;
  max-width: 20rem;
}
.feature-heading{
  text-align: center;
  padding: 0 1.5rem;
  font-size: 1.8rem;
}
.feature-lists{
  font-size: 18px;
  line-height: 28px;
}
/* features section */
/* hosts section  */
.host-box{
  border-bottom:1px dashed slategray;
  flex-wrap: wrap;
}
.pro-img{
  border-radius: 50%;
  width: 50%;
}
.host-card:hover{
  background-color: #282c34;
  color: #ffffff;
}
.host-card{
  padding: 1.5rem;
  max-width: 346px;
  background-color: beige;
}
/* hosts section  */
.frequent-title{
  width: 19%;
  font-size: 2rem;
  font-weight: 500;
  color: #282c34;
}
.frequently-asked {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.frequent-list{
  width: 70%;
  font-size: 1.2rem;
  color: #282c34;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media(max-width: 700px){
  .frequent-title{
    width: 100%;
    text-align: center;
  }
  .frequently-asked{
    flex-wrap: wrap;
  }
  .frequent-list{
    padding: 0;
    width: 100%;
  }
}
.frequent-list li{
  list-style: none;
  padding: 1.5rem 0;
  border-bottom: 1px dashed slategrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* jion us section  */
.contact-us{
  background-color: #282c34;
  color: #fff;
  font-size: 18px;
  padding: 2rem;
  border-radius: 8px;
}
.join-us-header{
  font-size: 1.5rem;
  text-align: justify;
}
.text-base{
  font-size: 18px;
}
/* jion us section  */
@media(max-width: 460px){
  .hero-img-heading{
    font-size: 1.8rem;
  }
  .hero-img-title{
    font-size: 12px;
    padding: 0 0 0 0;
  }
  .hero-heading{
    font-size: 2rem;
  }
  .text-regsiter{
    font-size: 12px;
  }
  .text-subtitle{
    font-size: 11px;
  }
  .agenda-lists{
    flex-direction: column;
  }
  .agenda-lists .left-list{
    border-bottom: 1px dashed slategray;
    border-right: none;
    padding-bottom: 10px;
  }
  .host-card-header{
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 10px;
  }
  .host-name-heading{
    padding-bottom: 14px;
  }
}
@media(max-width: 380px){
  /* .text-regsiter{
    font-size: 8px;
  } */
}
@media (max-width: 1014px) {
  .hero-img{
    width: 100%
  }
  
  .register-section {
    width: -webkit-fill-available;
  }
  
}